/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;	padding: 0;	border: 0;
	font-size: 100%;	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';content: none;}
table {	border-collapse: collapse;	border-spacing: 0;max-width:100%;}
iframe,img { max-width:100%; }

/* variables */
:root {
    --color-std: #21262c;
    --color-emphasis: #21262c;
    --color-fill: #e7e7e7;
    --color-bg: #fafafa;
    --color-box: #fff;
    --max-width: 780px;
    --margin-std: 50px;
    --margin-tight: 10px;
    --font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;;
    --font-size-h1: 70px;
    --font-size-h2: 20px;
    --font-size-p1: 16px;
    --font-size-p2: 13px;
    --font-size-p3: 11px;
    --input-height: 12px;
    --input-width: 20px;
	--border-radius-sm: 6px;
	--border-radius: 12px;
	--elevated:0 8px 16px rgba(0,0,0,0.1);
	--red:#df140f;
  }
.red{color:#df140f;}

/* divs */
div.centered {
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: center;
}
div.centered.searchbox-wrapper{margin-bottom:170px;}

div.justified {
    text-align: justify;
    text-justify: inter-word;
}

div.boxed, div.padding {
    max-width: var(--max-width);
    margin-top: var(--margin-std);
    margin-bottom: var(--margin-std);
    margin-right: var(--margin-std);
    margin-left: var(--margin-std);
}

div.boxed {border: 3px solid var(--color-std);}
div.boxed.search{border:0;padding:0;margin:0;}

.search-wrapper{background:#fff;box-shadow:var(--elevated);border-radius:var(--border-radius);    padding-top: 40px;
    padding-bottom: var(--margin-std);
    padding-right: var(--margin-std);
    padding-left: var(--margin-std);}

/* text */
.h1, .h2, .p1, .p2, .p3 {
    font-family: var(--font-family);
    color: var(--color-std);
}

.h1, .h2 {
    text-align: center;
    margin-bottom: var(--font-size-h2);
}

p{line-height:1.2em;}
.h1 {margin-top:20px;font-size: var(--font-size-h1);font-family:'Playfair Display';}
.h2 {font-weight:300;font-size:26px;margin-bottom:30px;}
.p1 {font-size: var(--font-size-p1);}
.p2 {font-size: var(--font-size-p2);}
.p3 {font-size: var(--font-size-p3);}

/* forms */
input[type=text] {
    width: 100%;
    padding: var(--input-height) var(--input-width);
    margin: var(--margin-tight) 0;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--border-radius-sm);
	box-shadow:--elevation-10;
    text-align: center;
    color: var(--color-std);
    font-size: var(--font-size-p1);
    font-family: var(--font-family);
	background:#eee;
}

input[type=date], select {
    width: 100%;
    padding: var(--input-height) var(--input-width);
    margin: var(--margin-tight) 0;
    box-sizing: border-box;
    border: 0;
    border-radius:var(--border-radius-sm);
    text-align: center;
	box-shadow:--elevation-10;
    color: var(--color-std);
    font-size: var(--font-size-p1);
    font-family: var(--font-family);
	background:#eee;
}

.button {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 14px var(--input-width);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-size-p1);
    margin: var(--margin-tight) 0;
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    width: 100%;
	font-weight: bold;
	text-transform:uppercase;letter-spacing:1px;
	-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s 0.s ease;-ms-transition: all 0.5s 0.5s ease;-o-transition: all 0.5s 0s ease;transition: all 0.5s 0s ease;d
}
.button:hover{opacity:0.8;}

.button2 {
    background-color: #eee;
    color: #000;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* page */
body {
    background-color: var(--color-bg);background: #efefef;
background: -moz-linear-gradient(left,  #efefef 0%, #f9f9f9 50%, #efefef 100%);
background: -webkit-linear-gradient(left,  #efefef 0%,#f9f9f9 50%,#efefef 100%);
background: linear-gradient(to right,  #efefef 0%,#f9f9f9 50%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=1 );

}
#results-wrapper{min-height:300px;position:relative;background:#DA2D19;background: #bf0d0d;
background: -moz-linear-gradient(left,  #bf0d0d 0%, #df140f 50%, #bf0d0d 100%);
background: -webkit-linear-gradient(left,  #bf0d0d 0%,#df140f 50%,#bf0d0d 100%);
background: linear-gradient(to right,  #bf0d0d 0%,#df140f 50%,#bf0d0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0d0d', endColorstr='#bf0d0d',GradientType=1 );
margin-top:40px;margin-bottom:30px;}
#results-wrapper:before{content:'';width:100%;top:-50px;height:50px;position:absolute;border-radius:50% 50% 0 0;background:#DA2D19;background: #bf0d0d;
background: -moz-linear-gradient(left,  #bf0d0d 0%, #df140f 50%, #bf0d0d 100%);
background: -webkit-linear-gradient(left,  #bf0d0d 0%,#df140f 50%,#bf0d0d 100%);
background: linear-gradient(to right,  #bf0d0d 0%,#df140f 50%,#bf0d0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0d0d', endColorstr='#bf0d0d',GradientType=1 );}
.dropdown-wrapper{display:flex;justify-content:space-between;}
.dropdown-wrapper div{width:24%;}

#results-wrapper div.boxed{box-shadow:var(--elevated);border:none;background:#fff;border-radius:var(--border-radius);}

#results-box{position:relative;top:-90px;}
#results-box > div.padding{padding-bottom:30px;}
#results{padding-top: 25px;}

#results .p1 {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s 0.s ease;-ms-transition: all 0.5s 0.5s ease;-o-transition: all 0.5s 0s ease;transition: all 0.5s 0s ease;font-size: 26px;text-decoration:none;font-weight:300;margin-bottom:10px;display: block;}
#results .p1:hover{color:var(--red);}
#results .p3{font-weight:bold;font-size:12px;}
#results .p2{font-size:16px;margin-bottom:20px;}
.spacer{height:40px;}

@media screen and (max-width:767px){
	.dropdown-wrapper{flex-wrap:wrap;}
	.dropdown-wrapper div{width:48%;}

}


@media screen and (max-width:600px){
	.dropdown-wrapper{flex-wrap:wrap;}
	.dropdown-wrapper div{width:100%;}
	.button{margin-bottom:0;}
}